	<div class="row">
                <div class="columns small-12 text-right social-media">
                        <span>Follow us</span> <img src="/img/social_media.png"
                                alt="social media" />
                </div>
	</div>
