	<header class="row">
                <div class="columns small-2">
                        <div class="logo-container">
                                <div class="logo"></div>
                                <h1>Lemonade Stand Supply</h1>
                        </div>
                </div>
                <div class="columns small-10">
                        <div class="row">
                                <div class="columns small-1 small-offset-9">
                                        <a class="secondary-color tiny" href="/html/login.html"> login </a>
                                </div>
                                <div class="columns small-2">
                                        <img src="/img/cart_small.png" alt="cart" />
                                </div>
                        </div>
                        <div class="row">
                                <nav class="columns small-6 small-offset-6">
                                        <div class="row">
                                                <div class="columns small-3 item">
							<a href="/home" {{if eq . "home"}}class="active"{{end}}>Home</a>
                                                </div>
                                                <div class="columns small-3 item">
                                                        <a href="/categories.html" {{if eq . "shop"}}class="active"{{end}}>Shop</a>
                                                </div>
                                                <div class="columns small-6 item">
                                                        <a href="." {{if eq . "stand_locator"}}class="active"{{end}}>Stand Locator</a>
                                                </div>
                                        </div>
                                </nav>
                        </div>
                </div>
	</header>
