<div class="row category 
	{{if eq .IsOrientRight true}}
		orient-right
	{{else}}
	    orient-left
	{{end}}">
	<a href="/products">
		{{if eq .IsOrientRight false }}
			<div class="columns small-4">
				<img src="/img/{{.ImageUrl}}" alt="{{.ImageUrl}}" />
			</div>
		{{end}}
		<div class="columns small-8">
			<h2>{{.Title}}</h2>
			<p>{{.Description}}</p>
		</div>
		{{if eq .IsOrientRight true }}
			<div class="columns small-4">
				<img src="/img/{{.ImageUrl}}" alt="{{.ImageUrl}}" />
			</div>
		{{end}}
	</a>
</div>
